.detail-img{
    width:500px
}

.place-form{
    margin-top: 100px;
}

.form-input input{
    width: 500px;
    padding: 12px;
    border: 2px solid tomato;
    margin-top: 20px;
    border-radius: 10px;
}

.place-btn{
    background-color:#FFCD00  ;
    border: none;
    width: 500px;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 10px;
}