.latest-des{
    color: #FFCD00 ;
    font-weight: 400;
}

.latest-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/kMNCZhS/driver-bg-dark.jpg');
}
.latest-head{
    color: #ffffff;
}